
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for book in books %}
        <div>
            <p>{{book.book_num}}</p>
            <p>{{book.author}}</p>
            <p>{{book.book_name}}</p>
            <p>{{book.publisher}}</p>
            <p>{{book.stock}}</p>
            <p>{{book.price}}</p>
            
        </div>
    {% endfor %}
    <div class="add">
        
    </div>
</body>
</html>